html {
  background-color: black;
  overflow-x: hidden;
}
.shapka {
  background-color: white;
  opacity: .4;
  position: relative;
  top: 0.5vh;
  width: 98.5vw;
  height: 85vh;
  margin: auto;
  border-radius: 1vw;
}
body {
  font-family: "Roboto", "Arial", sans-serif;
  width: 100%;
  margin: 0;
  position: relative;
  display: block;
}
body::before {
  content: "";
  position: absolute;
  background: url('../images/1920x1080.png');
  background-size: 100% auto;
  height: 7737px;
  width: 100%;
  display: block;
  opacity: .4;
}
.CYBER {
  font-family: "Metal-6";
  font-size: 188px;
  position: relative;
  top: -1.5vh;
  left: 1.5vh;
  margin-bottom: 10px;
  line-height: .8;
}
.aaa {
  font-size: 37px;
  position: relative;
  top: 5vh;
  left: 24.7vw;
}
.bbb {
  font-size: 37px;
  position: relative;
  top: 37.3vh;
  left: 59.5vw;
}
