html {
  background-color: black;
  overflow-x: hidden;
}
.shapka {
  background-color: white;
  /* opacity: .4; */
  position: relative;
  top: 0.5vh;
  width: 98.5vw;
  height: 85vh;
  margin: auto;
  border-radius: 1vw;
}
body {
  font-family: "Franklin Gothic Book";
  width: 100%;
  margin: 0;
  position: relative;
  display: block;
}
body::before {
  content: "";
  position: absolute;
  background: url('../images/1920x1080.png');
  background-size: 100% auto;
  height: 7737px;
  width: 100%;
  display: block;
  opacity: .4;
}
.CYBER {
  font-family: "Metal-6";
  font-size: 188px;
  position: relative;
  top: -1.5vh;
  left: 1.5vh;
  margin-bottom: 10px;
  line-height: .8;
}
.aaa {
  font-size: 37px;
  position: relative;
  top: 5vh;
  left: 24.7vw;
}
.bbb {
  font-size: 37px;
  position: relative;
  top: 37.3vh;
  left: 59.5vw;
}
.jaba1 {
  transform: scale(0.88) rotate(18deg);
  position: relative;
  display: inline-block;
  width: 30%;
  /* float: left; */
  top: -9vh;
  left: 2vw;
}
.jaba2 {
  position: relative;
  display: inline-block;
  top: -14vh;
  left: 3vw;
}
.jaba3 {
  transform: scale(0.76) rotate(36deg);
  position: relative;
  display: inline-block;
  top: -9vh;
  left: 1vw;
}
.blocks {
  margin-top: 8px;
  border: 3px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.blocks2 {
  margin-top: 2px;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.white {
  background-color: white;
  width: 19.5vw;
  height: 50.5vh;
}
.purple {
  left: -0.5vw;
  opacity: 0.4;
  position: relative;
  /* top: 1vh; */
  margin-top: -5.5vh;
}
.purple_jaba1 {
  position: absolute;
  top: -13.5vh;
  left: 17vw;
}
.purple_jaba2 {
  position: absolute;
  top: -12.4vh;
  left: 64vw;
}
.purple_jaba3 {
  position: absolute;
  top: 9vh;
  left: 39vw;
}
